body {
  background-color: #09090b;
}

.container {
  display: flex;
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin: 0 auto;
}

.link,
.link--white {
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  border-radius: var(--border-radius);
  padding: 8px 16px;
}

.link {
  color: var(--color-main);
  background: var(--background-button-transparent);
}

.link--white {
  color: var(--color-button);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background: var(--background-button);
}

.title-h2 {
  font-family: var(--font-family), sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  color: var(--color-main);
  text-align: center;

  &--big {
    font-size: 72px;
  }

  &-text {
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-accent);
    text-align: center;
    max-width: 580px;
  }

  @media (max-width: 750px) {
    & {
      font-size: 30px;
      line-height: 1.2;
    }

    &-text {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}