:root {
  --font-family: 'Inter';

  --color-main: #fafafa;
  --color-accent: #a1a1aa;
  --color-button: #18181b;

  --margin-section: 80px;
  --container-width: 1280px;
  --container-padding-x: 15px;

  --border-radius: 12px;

  --transtion: all 0.3s ease 0s;

  --background-button: linear-gradient(180deg, #fafafa 0%, rgba(250, 250, 250, 0.8) 100%);
  --background-button-transparent: linear-gradient(360deg, rgba(250, 250, 250, 0.05) 0%, rgba(250, 250, 250, 0.1) 100%);
}